---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts.ts";
import { Image } from "astro:assets";
import FamilyHugs from "../assets/wedding/family-hugs.jpeg";
import Celebrating from "../assets/wedding/posing.webp";
import { faqs } from "../content/faqs.ts";
import { parties } from "../content/parties.ts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="max-w-[800px] mx-auto px-4">
			<section class="space-y-4 lg:space-y-8">
				{parties.map((party) => (
					<div
						class="bg-beige p-6 mx-auto flex flex-col border border-zinc-400 rounded-lg shadow-md"
					>
						<h2 class="text-2xl font-semibold mb-2">{party.title}</h2>
						<h3 class="text-lg text-zinc-600 mb-4">
							{party.date}
						</h3>
						<p class="text-zinc-800 mb-6 text-lg">
							{party.description}
						</p>
						<Image
							src={party.image}
							alt={party.imageAlt}
							class="rounded-md shadow-sm"
						/>
					</div>
				))}
			</section>
			<h4
				class="text-zinc-800 w-full text-center p-8 max-w-[600px] text-xl lg:text-2xl mx-auto font-semibold"
			>
				More information will be added later once we figure things out!
			</h4>
			<section class="bg-beige p-6 mx-auto flex flex-col border border-zinc-400 rounded-lg shadow-md mb-8">
				
				<h2 class="text-2xl font-semibold mb-4">Frequently Asked Questions</h2>
				<div class="space-y-4">
					{faqs.map((faq) => (
						<div>
							<h3 class="text-lg font-medium mb-2">{faq.question}</h3>
							<p class="text-zinc-800 text-sm">{faq.answer}</p>
						</div>
					))}
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
